<div class="modal hide" id="my_modal"style="margin-top:10px">
    <div class="modal-header">
        <h3>Authenticate via OAuth2</h3>
    </div>
    <div class="modal-body">
        <p>OAuth is an open standard for authorization. It allows users to share their private resources (e.g. photos, videos, contact lists) stored on one site with another site without having to hand out their credentials.</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary" id="oauth_btn">Ok</a>
    </div>
</div>
